<a href="https://colab.research.google.com/github/ggosti/PythonInto-UniBologna/blob/main/01_Python_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebooks

Notebooks are a great way to mix executable code with rich contents (HTML, images, equations written in LaTeX).

Notebooks consist of so-called code cells, blocks of one or more Python instructions.

For example, here is a code cell that stores the result of a computation (the number of seconds in a day) in a variable and prints its value:

Click on the "play" button to execute the cell. You should be able to see the result. Alternatively, you can also execute the cell by pressing **Ctrl + Enter** if you are on Windows / Linux or Command + Enter if you are on a Mac.

Lines starting with an "#" character are NOT executed by python, and are called COMMENTS

In [ ]:
# lines starting with an "#" character are NOT executed by python, and are called COMMENTS

Variables that you defined in one cell can later be used in other cells:

Note that the order of execution is important. For instance, if we do not run the cell storing *seconds_in_a_day* beforehand, the above cell will raise an error, as it depends on this variable. To make sure that you run all the cells in the correct order, you can also click on "Runtime" in the top-level menu, then "Run all".

**Exercise.** Add a cell below this cell: click on this cell then click on "+ Code". In the new cell, compute the number of seconds in a year by reusing the variable *seconds_in_a_day*. Run the new cell.

# Python

## Arithmetic operations

Python supports the usual arithmetic operators: + (addition), * (multiplication), / (division), ** (power), // (integer division).

## Lists

Lists are a container type for ordered sequences of elements. Lists can be initialized empty.
This is how I create `my_list`:

[]

or with some initial elements

In [ ]:
# this_is_my_list is called the snake-case for naming variables

# ThisIsMyList is called the camel-case for naming variables

[1, 2, 3]

Lists have a dynamic size and elements can be added (appended) to them

In [ ]:
# the following line of code apply the "append" function on the "my_list" object
# (list). append will add the element specified to the end of the list.

[1, 2, 3, 5, 5]

We can access individual elements of a list (indexing starts from 0)

In [ ]:
# we accesss the THIRD element of the list, because python starts counting from 0
print(my_list[2])
print()
# out of range error, because the list has 5 elements and I try to print the 6th one
# print(my_list[5])

3
5

We can access "slices" of a list using `my_list[i:j]` where `i` is the start of the slice (again, indexing starts from 0) and `j` the end of the slice. For instance:

[2, 3]

Omitting the second index means that the slice shoud run until the end of the list

[2, 3, 5, 5]

We can check if an element is in the list using `in`.
The result is the first appearance of a logical (boolean) value, i.e. True/False

True
False

The length of a list can be obtained using the `len` function

5

## Strings

Strings are used to store text. They can delimited using either single quotes or double quotes

In [ ]:
# If a "number" is quoted, it is interpreted as a character, so cannot be added,
# multiplied, etc.
# "1" * "2"

Strings behave similarly to lists. As such we can access individual elements in exactly the same way

'e'

and similarly for slices

'text'

String concatenation is performed using the `+` operator

In [ ]:
print(string1 + " " + string2)
print(string1 + "" + string2)
print(string1 + string2)
print(string1[5:] + " " + string2[:5])

some text some other text
some textsome other text
some textsome other text
text some

## Conditionals

As their name indicates, conditionals are a way to execute code depending on whether a condition is True or False. As in other languages, Python supports `if` and `else` but `else if` is contracted into `elif`, as the example below demonstrates.

In [ ]:
my_variable = 5
if my_variable < 0:
  print("negative")

The condition of the if statement MUST return True or False

In [ ]:
my_variable = 5
if my_variable > 0:
  print("positive")
  print("positive again")
print("I don't know")

positive
positive again
I don't know

Even if statements like the following works (in some sense), be sure that the condition of an if statment returns True or False

In [ ]:
my_variable = 5
if my_variable - 10:
  print("positive")
  print("positive again")
print("I don't know")

positive
positive again
I don't know

In case the condition is false what is inside the if statement is skipped.
The lines of code "inside" an if statement are thos with indentation.

In [ ]:
my_variable = -5
if my_variable > 0:
  print("positive")
  print("positive again")
print("I don't know")

I don't know

The equality is checked with "==", because the single "=" is used for assignments.

In [ ]:
my_variable = -5
if my_variable == 0:
  print("positive")
  print("positive again")
print("I don't know")

I don't know

In [ ]:
my_variable = -0.3
if my_variable < 0:
  print("negative")
elif my_variable == 0:
  print("null")
else: # my_variable > 0
  print("positive")

negative

Here `<` and `>` are the strict `less` and `greater than` operators, while `==` is the equality operator (not to be confused with `=`, the variable assignment operator). The operators `<=` and `>=` can be used for less (resp. greater) than or equal comparisons.

Contrary to other languages, blocks of code are delimited using **indentation**. Here, we use 2-space indentation but many programmers also use 4-space indentation. Any one is fine as long as you are consistent throughout your code.

## Loops

Loops are a way to execute a block of code multiple times. There are two main types of loops: while loops and for loops.

While loop

While loop executes what's inside it as long as the condition is True. When the condition turns False, the While loop stops.

In [ ]:
i = 0
while i < len(my_list):
  print(my_list[i])
  i += 1 # equivalent to i = i + 1

1
2
3
5
5

For loop

For loops are used to execute the same lines of code, according to an index wich evolves according to the range or the list specified.

In [ ]:
print(range(len(my_list)))
for i in range(len(my_list)):
  print(i)

range(0, 5)
0
1
2
3
4

In [ ]:
for i in range(len(my_list)):
  print(my_list[i])
print("--------------")
for u in range(1,4):
  print(my_list[u])
print("--------------")
# list index out of range error, because the list does not have a 6-th element
# for u in range(1,7):
  # print(my_list[u])

1
2
3
5
5
--------------
2
3
5
--------------

If the goal is simply to iterate over a list, we can do so directly as follows

In [ ]:
for element in my_list:
  print(element*2)

2
4
6
10
10

## Functions

To improve code readability, it is common to separate the code into different blocks, responsible for performing precise actions: functions. A function takes some inputs and process them to return some outputs.

In [ ]:
def multiply(a, b):
  return a * b
print(multiply(2,5))

10

In [ ]:
# Functions can be composed.
multiply(3, 2)

36

To improve code readability, it is sometimes useful to explicitly name the arguments

In [ ]:
square(multiply(a=3, b=2))

36

## Exercises

Exercise 1.0. Define a function which takes as input 2 values and returns the sum of these

In [ ]:
def sum(x,y):
  # write your function here

  return x+y

result = sum(2,3)
print(result)


# sum(2,3)

5

Exercise: 1.1 find the useless line.

In [ ]:
def square(x):
  xx = x+2
  result = x ** 2
  return result
# user usage of the function
print(square(2))